<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include menu.html %}

    <div class="container">
        <div id="banner" class="page-header">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>{{ page.title }}</h1>
                    <p class="lead">{{ page.lead }}</p>
                </div>
            </div>    
        </div>
    </div>
      
    <!-- Page content of course! -->
      <div class="container">
          {{ content }}
      </div>

    {% include footer.html %}
  </body>
</html>
